{% extends 'layout.html' %}
{% block content %}

<div class="container">

    <h2><strong>A Bit More About Fred</strong></h2>
    <hr>
    <br>
 <div class="container">

    <div class="row">
      <div class="col-md-8">
        <h3 class="page-header"> Fred in a nutshell</h3>
        <p>Fred is actually the older brother of Max by 3 years, although we did not adopt them at the same time. We were told that Fred would not be good with smaller dogs and at
        the time we had two smaller dogs, Rosie and Bubba, both Chihuahuas. So sadly we took just Max (and Henry too). Fred is a coonhound mix. He is about 35 lbs. He has a short mostly black coat with some
         white mixed in. He is by far the most vocal of our dogs. He barks at things big and small, loud and soft. At this point he does not hear or see as well as he did when we first
         got him in 2015, so unless he is egged on by Rosie or Jake (usually), the house is much more quiet.
            He also does much better when seeing people when he is out for his walks. He mostly ignores them now, but that was not the case for the first two years that we had him. </p>
        <p>Fred showed many talents of an independent dog right from the start. He was great at digging big holes, moving large bolders and opening things like draws and doors.
        Nothing stopped or deterred Freddie, as we call him.  I should also mention that he was Jake when he was adopted, but since we had a Jake, we decided on Fred, even before we met him.
        Just by looking at his picture, we knew he was a 'fred'.  We were right. It suits him quite well.

        </p>
      </div>
      <div class="col-md-4">
           <div class="alert alert-warning alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert"><h6>click to close</h6></button>
        Learn About Fred's Health
      </div>
        <div class="list-group">

    <a href="#" class="list-group-item active">Fred's Health and Mannerisms</a>
     <a href="#" class="list-group-item">Talkative</a>
     <a href="#" class="list-group-item">Hard of seeing</a>
     <a href="#" class="list-group-item">Hard of hearing</a>
      <a href="#" class="list-group-item">Needs a muzzle for nail clippings</a>
    <a href="#" class="list-group-item">Prone to stomach issues- will need to eat grass</a>
     <a href="#" class="list-group-item">Poor eater</a>

  </div>
      </div>
    </div>

</div>
</div>




    {% endblock %}