{% extends 'layout.html' %}
{% block content %}

<div class="container">

    <h2><strong>A Bit More About Henry</strong></h2>
    <hr>
    <br>
 <div class="container">

    <div class="row">
      <div class="col-md-8">
        <h3 class="page-header"> Henry in a nutshell</h3>
          <p>Henny, as we like to call him is a 60 pound Treeing Coonhound and <I>THEY MUST</I> be famous for there vocal abilities. When he wants something
              he will let you know it... until you do something about it. He is insistent and serious. He also loves to be scratched on the belly <i>(sometimes)</i>
            . He will let you know when the time is right. He came to us with Max on the 2-for deal. They told us they were best friends, but I am not sure about that.
            Henry came to us as a rescue from Kentucky.  He is his own man. He likes to be alone for most of the day. When its time to eat, he will let you know.
            My advise is to get a pair of good ear plugs
             </p>
        <p> Of late, henry is slowing down a bit. Sometimes he does not want to walk at night. And when Henry does not want to move, you will rupture something
            getting him to do otherwise. He is set in his ways and independent. He loves having his ears scratched.  He moans and you feel so good knowing he
            is loving it so much. A word of caution. If you stop petting him before he wants you do... look out... because you will soon be getting a paw over your head, or in your
            eye, or someplace that could hurt.  We love him to pieces. We love all of them.

        </p>
      </div>
      <div class="col-md-4">
           <div class="alert alert-warning alert-dismissable" role="alert">
               <button type="button" class="close" data-dismiss="alert"><span><h6>click to close</h6></span></button>
        Learn About Henry's Health
      </div>
        <div class="list-group">

    <a href="#" class="list-group-item active">Henry's Health and Mannerisms</a>
     <a href="#" class="list-group-item">Has the biggest howl you have ever heard</a>
     <a href="#" class="list-group-item">He's a runner, so always be alert because he is sneaky about that too. In a minute he is half way back to Kentucky</a>
            <a href="#" class="list-group-item">Does not like to be left out of anything especially his walks</a>
            <a href="#" class="list-group-item">Can never be let off his leash on walks</a>
            <a href="#" class="list-group-item">Hearty Appetite</a>



  </div>
      </div>
    </div>

</div>
</div>




    {% endblock %}