{% extends 'layout.html' %}
{% block content %}

<div class="container">

    <h2><strong>A Bit More About Jake</strong></h2>
    <hr>
    <br>
 <div class="container">

    <div class="row">
      <div class="col-md-8">
        <h3 class="page-header"> Jake in a nutshell</h3>
        <p>Jake came to us in December of 2009 only he was Spunky back then. He was then and still tends to be the time-keeper. He is a great fan of the schedule and in the morning he will not let you for about it.
            His bread are the great herders of sheep and well... we are his sheep... (everyone needs a job).  Jake is obedient.
             </p>
        <p>Jake has graduated from his role of expert frisbee nabber. He does not chase frisbees or balls these days. He is mostly an indoor dog. But since Jen shaved his long coat,
            He will spend more time out of the house in the backyard. He doesn't walk on the leash much. But he does come with the family for our nightly walk around the neighborhood.
            Jake keeps things moving right along in the house. He knows his job and he does it.
            We think he's proud of the work he does and we are proud of him.

        </p>
      </div>
      <div class="col-md-4">
           <div class="alert alert-warning alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert"><h6>click to close</h6></button>
        Learn About Jake's Health
      </div>
        <div class="list-group">

    <a href="#" class="list-group-item active">Jake's Health and Mannerisms</a>
     <a href="#" class="list-group-item">The Time Keeper- hey he's a border-collie</a>
     <a href="#" class="list-group-item">Suffered a bout of Rocky Mountain Spotted Fever in 2017 and still has some effects from it</a>
            <a href="#" class="list-group-item">Has trouble going up and down stairs, gets stiff</a>
            <a href="#" class="list-group-item">Gets winded easily and will have labored breathing</a>
     <a href="#" class="list-group-item">Back legs are weak</a>
      <a href="#" class="list-group-item">Highly motivated by food</a>
    <a href="#" class="list-group-item">Does not like surprises</a>


  </div>
      </div>
    </div>

</div>
</div>




    {% endblock %}