{% extends 'layout.html' %}
{% block content %}

<div class="container">

    <h2><strong>A Bit More About Max</strong></h2>
    <hr>
    <br>
 <div class="container">

    <div class="row">
      <div class="col-md-8">
        <h3 class="page-header"> Max in a nutshell</h3>
        <p>Max, younger brother of Fred by three years, is the most loving dog we have ever had. He is gentle and  a people protector, but also afraid of anyone new. But once he gets to know you
            he is quite magnificent. Just move slowly and be extra gentle with him.  Just this morning, Max a 40 lb coonhound mix curled right up in my arms and fell asleep. He even started to snore.
            I loved every minute of it. He has the fur of a teddy bear, just so soft and thick.  He needs frequent brushing to be at his most beautiful.
             </p>
        <p>Max loves going for car rides with his mamas and he loves his daily walks. He is the one pearched up by the window for the entire time that his mamas are out of the house.
            He waits and waits and waits.  He is my very best friend.  He greets me each time I come in the door with a stuffed toy.
            I believe he was sent to us by our dearly departed Elie.  She knew that we needed each other. Maxie has changed my life.
            He is my favorite... but shhh dont tell any of the others. Truth is, I would do anything for any of our fur babies.
            Max and I just get each other.

        </p>
      </div>
      <div class="col-md-4">
           <div class="alert alert-warning alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert"><h6>click to close</h6></button>
        Learn About Max's Health
      </div>
        <div class="list-group">

    <a href="#" class="list-group-item active">Max's Health and Mannerisms</a>
     <a href="#" class="list-group-item">Love bug and oh so gentle</a>
     <a href="#" class="list-group-item">Heart Murmur</a>
            <a href="#" class="list-group-item">Mamas boy</a>
            <a href="#" class="list-group-item">A little fear agression with new folks.. take is slow and be gentle with him</a>


  </div>
      </div>
    </div>

</div>
</div>




    {% endblock %}