{% extends 'layout.html' %}
{% block content %}

<div class="container">

    <h2><strong>A Bit More About Rosie- AKA Fefe</strong></h2>
    <hr>
    <br>
 <div class="container">

    <div class="row">
      <div class="col-md-8">
        <h3 class="page-header"> Rosie in a nutshell</h3>
        <p>Rosie came to us in October of 2007 at 7 months and only 1 and 3/4 pounds. So small she fit in her tiny food bowl at the time.
            She was all personality and the boss from the very start. It did not matter
            how big another dog was, she was putting him on notice, she was the queen. She loves to be with her mamas. She is good with being picked up.
            In fact she will scrape you something silly if you dont and she wants up... so watch your legs.
             </p>
        <p>Rosie is a pushy lovable thing. She is filled with confidence. She goes to the bathroom anywhere she wants to.  And that has nothing to do with being blind.
            She is the leader and she knows it. When she starts to bark, the big dogs follow right along.  Her other nick name is "trouble in a 5-pound suit"...
            and believe me it fits. We love her... our fearless pack-leader.  Proving to all shorties everything that size really doesn't  matter.

        </p>
      </div>
      <div class="col-md-4">
           <div class="alert alert-warning alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert"><h6>click to close</h6></button>
        Learn About Rosie's Health
      </div>
        <div class="list-group">

    <a href="#" class="list-group-item active">Rosie's Health and Mannerisms</a>
     <a href="#" class="list-group-item">The Boss</a>
     <a href="#" class="list-group-item">Totally blind for several years now</a>
     <a href="#" class="list-group-item">Look out for your ankles</a>
      <a href="#" class="list-group-item">Does not like to be moved when sleeping</a>
    <a href="#" class="list-group-item">Will push a bigger dog off his bowl if she's in a mood</a>


  </div>
      </div>
    </div>

</div>
</div>




    {% endblock %}